main{
    background-color: #ffffffbd;
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: space-between;
}

/* Management buttons */
.editing{
    align-self: flex-end;
    display: none;  
}

.toggleEdit{ 
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: rgb(231, 225, 225);
    color: red;
    font-size: 1rem;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    width: 100px;
    margin-bottom: 20px;
}

.toggleEdit:active{
    background-color: rgba(231, 225, 225, 0.795);
    transform: scale(0.97);
}

/* End of management buttons */

.blog-title{
    margin-bottom: 20px;
    align-self: start;
}

.blog-details{
    align-self: start;
}

.coverImage{
    align-self: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    
    margin: 50px 0 50px 0;
}

.coverImage img{
    width: 70%;
}

.blog-post{
    display: flex;
    justify-content: center;
    align-content: center;
}

.blog-post p{
    width: 80%;
}

/*------------ Comments section------------ */

.comments-section{
    margin-top: 50px;
    width: 80%;
    align-self: center;
}

.make-comment{
    display: flex;
    flex-direction: column;
}

.make-comment input{
    padding: 10px;
    border: 0;
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.make-comment button{
   align-self: flex-end;
   padding: 10px;
   border: 0;
   background-color: red;
   color: white;
   font-weight: 1.3rem;
   outline: 0;
   border-radius: 5px;
}

.make-comment button:active{
    transform: scale(1.01);
}

textarea{
    border: 0;
    background-color: rgb(255, 255, 255);
    font-size: 1.1rem;
    padding: 10px;
}

.individual-comments{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.individual-comments p{
    font-size: 16px;
    color: rgb(129, 129, 129);
}

.individual-comments span{
    font-size: 16px;
}

.individual-comments img{
    width: 72px;
}

/* The editable class */
.editable{
    display: flex;
    flex-direction: row-reverse;
}


/* ----------------EDIT BUTTONS------------------ */
.edit{
    background-color: #e9e5e8;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
    
}

.edit:active{
    transform: scale(0.97);
    background-color: #e2dde0;
}

.edit img{
    width: 50%;
}

.save{
    outline: 0;
    border: 0;
    background-color: rgb(247, 214, 214);
    padding: 10px;
    color: rgb(255, 0, 0);
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    display: none;
    
}

.save:active{
    background-color: rgba(247, 214, 214, 0.897);
    transform: scale(0.97);
}

.editor{
    display: flex;
    flex-direction: column;
}

.editImage input{
    display: none;
}

.editImage img{
    width: 50%;
}

.editImage label{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width: 700px){
    .content{
        grid-template-columns: 90%;
    }
    
}

@media screen and (max-width: 500px){
    article{
        padding: 20px;
    }
}