form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:50px 0 100px 0;
}

.image-header{
    background-color: rgb(230, 230, 230);
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-header img{
    width: 5%;
}

.title-header{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.title-header input{
    border: 0;
    outline: 0;
    width: 100%;
    padding: 20px;
    font-size: 2rem;
    font-weight: 600;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content textarea{
    box-sizing: border-box;
    border: 0;
    font-size: 20px;
    outline: 0;
    padding: 20px;
    resize: vertical;
}

form button{
    border: 0;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: bold;
    align-self: flex-end;
    color: white;
    background-color: red;
    outline: 0;
    width: 100px;
    cursor: pointer;
    margin-top: 20px;
}