body{
    display: flex;
    flex-direction: column;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 92vh;
    gap: 100px;
}

.login-inputs{
    display: flex;
    flex-direction: column;
}

.error-message{
    display: flex;
    align-items: center;
    background-color: #ff00001a;
    color: red;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px red solid;
    border-radius: 5px;
    font-weight: 500;
    display: none;
}

.error-message img{
    width: 32px;
}

form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 50px;
}



.email, .password{
    display: flex;
    border-radius: 12px;
}

.email img{
    width: 56px;
    height: 56px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px 0 0 10px;
}

.email:focus-within{
    box-shadow: 0 3px 6px rgb(0, 0, 0, 0.25);
}

.password:focus-within{
    box-shadow: 0 3px 6px rgb(0, 0, 0, 0.25);
}


.password img{
    width: 56px;
    height: 56px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px 0 0 10px;
}

.media img{
    width: 600px;
}

input{
    width: 100%;
    height: 56px;
    background-color: #ffffff;
    border: 0;
    color: black;
    outline: none;
    border-radius: 0 10px 10px 0;
    font-size: 1rem;
}

::placeholder{
    color: rgb(0, 0, 0, 0.8);
}

button{
    width: 200px;
    justify-self: center;
    border: 0;
    background-color: #FF0000;
    color: white;
    height: 56px;
    font-weight: 700;
    font-size: 1.3rem;
    border-radius: 47px;
    outline: 0;
    cursor: pointer;
}

button:active{
    transform: scale(0.99);
}

@media screen and (max-width:1180px){
    .grid-container{
        gap: 50px;
    }
    .media img{
        width: 500px;
    }
}

@media screen and (max-width:900px){
    .media{
        justify-self: center;
    }
   .grid-container{
       width: auto;
       grid-template-columns: 1fr;
       align-self: center;
       gap: 0;
   }
}

@media screen and (max-width: 520px){
    .media img{
        width: 90vw;
    }

}

@media screen and (max-width: 320px){
    .media{
        display: none;
    }
}