article{
    background-color: #ffffffbd;
    display: flex;
    flex-direction: column;
    padding: 50px;
    align-items: space-between;
}
.blog-title{
    margin-bottom: 20px;
}

.editing{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.management button{
    border: 0;
    background-color: rgb(231, 225, 225);
    color: red;
    font-size: 1rem;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    width: 100px;
}

img{
    width: 100%;
    margin-bottom: 50px;
}
.content{
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
    gap: 40px;
}

textarea{
    border: 0;
    background-color: rgb(228, 226, 226);
    font-size: 1.3rem;
}

@media screen and (max-width: 700px){
    .content{
        grid-template-columns: 90%;
    }
}

@media screen and (max-width: 500px){
    article{
        padding: 20px;
    }
}