main{
    margin: 50px 0 50px 0;
}

main div{
    margin-bottom: 20px;
}

main h3{
    text-align: center;
    
}

.content{
    display: flex;
    flex-direction: column;
}

.intro{
    text-align: center;
    margin-top: 20px;
}

.edit{
    position: absolute;
    background-color: #CFC7CD;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.edit img{
    width: 60%;
}

.save{
    position: relative;
    top: 50px;
    align-self: flex-end;
    padding: 5px;
    outline: 0;
    border: 0;
    cursor: pointer;
    display: none;
}

main p{
    padding: 20px;
    line-height: 1.6;
    max-width: 40vw;
    margin: 0 auto;
}

.intro span{
    border-bottom: 5px solid black;
}

main a{
    text-decoration: none;
    color: black;
    border-bottom: 3px solid red;
    transition-duration: 0.3s;
}

main a:hover{
    border: 0;
    color: red;
}

@media screen and (max-width: 1230px){
    main p{
        max-width: 50vw;
    }
}

@media screen and (max-width: 1024px){
    main p{
        max-width: 60vw;
    }
}

@media screen and (max-width: 800px){
    main p{
        max-width: 70vw;
    }
}

@media screen and (max-width: 530px){
    main p{
        max-width: 80vw;
        padding: 10px;
    }
}