---
import Layout from "@layouts/MainLayout.astro";
import IntroSection from "@components/IntroSection.astro";
import LatestArticles from "@components/LatestArticles.astro";
---

<Layout title="Ineza Bonté">
  <main class="space-y-16 px-6 py-10 flex flex-col self-center w-full">
    <IntroSection />
    <LatestArticles />
  </main>
</Layout>
