main div{
    margin-bottom: 30px;
}

main h3, h2{
    text-align: center;
    
}

.intro {
    margin-top: 20px;
}

main p{
    padding: 20px;
    line-height: 1.6;
    max-width: 40vw;
    margin: 0 auto;
    
}

.intro span{
    border-bottom: 5px solid black;
}

main a{
    text-decoration: none;
    color: black;
    border-bottom: 2px solid red;
}

.images{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.images img{
    width: 40vw;
    
    
}