main div{
    margin-bottom: 30px;
}

main h3, h2{
    text-align: center;
    
}

.intro {
    margin-top: 20px;
}

main p{
    padding: 20px;
    line-height: 1.6;
    max-width: 40vw;
    margin: 0 auto;
    
}

.intro span{
    border-bottom: 5px solid black;
}

main a{
    text-decoration: none;
    color: black;
    border-bottom: 2px solid red;
}

.images{
   display: flex;
   flex-direction: column;
   align-items: center;
}

.images img{
    width: 40vw;
}

.projects{
    display: flex;
    justify-content: center;
}

.projects > div{
    background-color: white;
    width: 300px;
    height: 400px;
    margin: 20px;
}

.weather, .grevybot{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding-top: 50px;
}

.icons img{
    width: 48px;
    margin: 5px;
}

@media screen and (max-width: 800px){
    main p{
        max-width: 60vw;
    }
}

@media screen and (max-width: 600px){
    main p{
        max-width: 70vw;
        text-align: center;
    }

    .images img{
        width: 50vw;
    }

    .projects{
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 400px){
    .images img{
        width: 70vw;
    }
    .main p{
       max-width: 80vw;
    }
}