---
import { Icon } from "astro-icon/components";
---

<nav
  class="px-6 py-5 lg:py-10 grid grid-cols-2 lg:grid-cols-3 lg:grid-rows-1 gap-y-6 items-center"
>
  <a href="/" class="font-bold text-2xl justify-self-start">
    <h1 class="dark:text-white">Ineza Bonté</h1>
  </a>

  <div class="space-x-4 flex items-center justify-self-end lg:order-1">
    <button
      id="theme-switcher"
      class="focus:outline-none outline-none"
      aria-labelledby="theme-switcher"
      type="button"
    >
      <Icon id="sunSvg" name="sun" class="h-6 w-6" />

      <Icon id="moonSvg" name="moon" class="h-6 w-6" />
    </button>
  </div>
  <div
    class="space-x-5 text-lg font-bold col-span-2 justify-self-center lg:col-span-1"
  >
    <a href="/blog" class="uppercase">Blog</a>
    <a href="/about" class="uppercase">About</a>
    <a href="/now" class="uppercase">Now</a>
    <a
      href="https://garden.ineza.codes/"
      target="_blank"
      rel="noopener noreferrer"
      class="uppercase"
    >
      Garden
    </a>
  </div>
</nav>
<script src="../scripts/themesToggle.js"></script>
