---
import Layout from "./MainLayout.astro";

const { frontmatter } = Astro.props;
---

<Layout
  title={`${frontmatter.title} | Ineza Bonté`}
  description={frontmatter.description}
>
  <article
    class="self-center px-6 prose dark:prose-dark prose-lg md:my-4 max-w-2xl lg:max-w-3xl"
  >
    <div class="w-full">
      <slot />
    </div>
  </article>
</Layout>
